
<div class="trigger">
    <a class="page-link" href="{{ "/doc/class_info" | relative_url }}">Class Info</a>
    <a class="page-link" href="{{ "/doc/resources" | relative_url }}">Resources</a>
    <a class="page-link" href="{{ "/doc/topics" | relative_url }}">Topics</a>
    <a class="page-link" href="{{ "/doc/schedule" | relative_url }}">Schedule</a>
    <a class="page-link" href="{{ "/doc/assignments" | relative_url }}">Assignments</a>

    <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
    <br class="page-link"/><hr/><br class="page-link"/>
    <a class="page-link" href="{{ "/1.1-1.2_unit_circle_trig_graphs" | relative_url }}">1.1-1.2 Unit Circle, Trig Graphs</a>
    <a class="page-link" href="{{ "/1.3-1.4_inverse_trig_word_problems" | relative_url }}">1.3-1.4 Inverse Trig, Word Problems</a>
    <a class="page-link" href="{{ "/unit1" | relative_url }}">Unit 1</a>
</div>
         
