
<div class="trigger">
    <a class="page-link" href="{{ "/doc/class_info" | relative_url }}">Class Info</a>
    <a class="page-link" href="{{ "/doc/resources" | relative_url }}">Resources</a>
    <a class="page-link" href="{{ "/doc/topics" | relative_url }}">Topics</a>
    <a class="page-link" href="{{ "/doc/schedule" | relative_url }}">Schedule</a>
    <a class="page-link" href="{{ "/doc/assignments" | relative_url }}">Assignments</a>

    <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
    <br class="page-link"/><hr/><br class="page-link"/>
    <a class="page-link" href="{{ "/1.1-1.2_unit_circle_trig_graphs" | relative_url }}">1.1-1.2 Unit Circle, Trig Graphs</a>
    <a class="page-link" href="{{ "/1.3-1.4_inverse_trig_word_problems" | relative_url }}">1.3-1.4 Inverse Trig, Word Problems</a>
    <a class="page-link" href="{{ "/unit1" | relative_url }}">Unit 1</a>
    <a class="page-link" href="{{ "/2.1-2.2_identities" | relative_url }}">2.1-2.2 Identities</a>
    <a class="page-link" href="{{ "/2.3_multiple_angle" | relative_url }}">2.3 Multiple Angle Identities</a>
    <a class="page-link" href="{{ "/2.4_law_of_sines_cosines" | relative_url }}">2.4 Law of Sines / Cosines</a>
    <a class="page-link" href="{{ "/unit2" | relative_url }}">Unit 2</a>
    <a class="page-link" href="{{ "/3.1_vectors" | relative_url }}">3.1 Vectors</a>
    <a class="page-link" href="{{ "/3.2_dot_product" | relative_url }}">3.2 Dot Product</a>
    <a class="page-link" href="{{ "/3.3_parametric_equations" | relative_url }}">3.3 Parametric Equations</a>
    <a class="page-link" href="{{ "/3.5_polar_graphs" | relative_url }}">3.5 Polar Graphs</a>
    <a class="page-link" href="{{ "/3.6_linear_systems" | relative_url }}">3.6 Linear Systems</a>
    <a class="page-link" href="{{ "/3.7_matrix_algebra" | relative_url }}">3.7 Matrix algebra</a>
    <a class="page-link" href="{{ "/3.8_matrix_inverses" | relative_url }}">3.8 Matrix inverses</a>
    <a class="page-link" href="{{ "/unit3" | relative_url }}">Unit 3</a>
    <a class="page-link" href="{{ "/4.1_function_properties" | relative_url }}">4.1 Function properties</a>
    <a class="page-link" href="{{ "/4.2_function_operations" | relative_url }}">4.2 Function operations</a>
    <a class="page-link" href="{{ "/4.3_polynomials" | relative_url }}">4.3 Polynomials</a>
    <a class="page-link" href="{{ "/4.4_more_polynomials" | relative_url }}">4.4 More polynomials</a>
    <a class="page-link" href="{{ "/4.5_fundamental_theorem_of_algebra" | relative_url }}">4.5 Fundamental Theorem of Algebra</a>
    <a class="page-link" href="{{ "/4.6_rational_functions" | relative_url }}">4.6 Rational functions</a>
    <a class="page-link" href="{{ "/unit4" | relative_url }}">Unit 4</a>
    <a class="page-link" href="{{ "/5.1_parabolas" | relative_url }}">5.1 Parabolas</a>
    <a class="page-link" href="{{ "/5.2_ellipses" | relative_url }}">5.2 Ellipses</a>
    <a class="page-link" href="{{ "/5.3_hyperbolas" | relative_url }}">5.3 Hyperbolas</a>
</div>
